.footer {
  min-height: 15vh;
  background-color: #36626A;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.footer a {
  font-size: 2em;
  color: white;
  margin-left: 1em;
  margin-right: 1em;
}