.main {
    min-height: 70vh;
    display: flex;
}

.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    background-color: #ABC8CD;
    max-height: calc(70vh - 5em);
    margin: 1.5em;
    padding: 1em;
}

.register h2{
    padding-bottom: 1em;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw; 
    background-color: #ABC8CD;;
    max-height: calc(70vh - 5em);
    overflow-y: auto;
    padding: 1em;
    margin: 1.5em;
}

.list h2{
    padding-bottom: .5em;
}